.vscode/**
.vscode-test/**
.vscode-test-web/**
dist/test/**
dist/web/test/**
node_modules/**
src/**
zmk/**
.gitignore
.gitmodules
webpack.config.js
**/tsconfig.json
**/.editorconfig
**/.prettierignore
**/.prettierrc.json
**/.vscode-test.*
**/eslint.config.mjs
**/*.map
**/*.ts