.vscode/**
.vscode-test/**
.vscode-test-web/**
dist/test/**
dist/web/test/**
node_modules/**
src/**
zmk/**
.gitignore
.gitmodules
webpack.config.js
**/tsconfig.json
**/.editorconfig
**/.eslintignore
**/.eslintrc.json
**/.prettierignore
**/.prettierrc.json
**/*.map
**/*.ts
